.ad-content {
  padding: 10px 5px 30px 10px;

  margin-bottom: 20px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
}

.ad-description span {
  margin-bottom: 10px;
}

.security-properties,
.comfort-properties {
  margin-top: 10px;
}

.image-slider {
  display: none;
}

.security-properties .features,
.comfort-properties .features {
  margin-left: 10px;
}

.ad-header div {
  display: inline-block;
  margin-bottom: 12px;
}

.views-img {
  margin-left: 5px;
}

.fa-ellipsis-h {
  color: rgb(197, 197, 197);
  font-size: 16px;
}

.fa-eye {
  color: black;
}

.ad-date {
  margin-left: 5px;
}

.views-text {
  font-size: 13px;
  color: #4e4e4e;
}

.ad-date {
  font-size: 15px;
}

.fav-icon {
  margin: 0 5px;
  color: gold;
  font-size: 14px;
}

.fav-icon:hover {
  cursor: pointer;
}

.ad-images .img {
  width: 150px;
  margin: 0px 4px 0px 0px;
  display: inline-block;
}

.img img {
  border-radius: 3px;
}

.ad-images .img:hover {
  cursor: pointer;
}

.property-name {
  font-size: 18px;
}

.car-properties .property-name {
  height: 35px;
}

.car-properties .property-name {
  display: flex;
}

.car-properties .property-name span {
  padding-top: 2px;
  padding-left: 6px;
  font-size: 18px;
}

.engine-properties .property-name span {
  padding-top: 0px;
  padding-left: 6px;
  font-size: 18px;
}

.sub-property-name {
  font-weight: 600;
  font-size: 15px;
}

.sub-property-value .car-properties .property-name .properties-img {
  width: 35px;
}

.car-props-img {
  object-fit: cover;
}

.ad-user {
  display: inline-block;
  text-align: center;
  width: 100px;
  border-radius: 15px;
  background-color: #ebebeb;
}

.ad-username {
  font-size: 13px;
  color: #2676b0;
}

.property-name {
  font-weight: 700;
  height: 30px;
  margin-top: 5px;
}

.property-name div,
span {
  display: inline-block;
}

.properties {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: auto 1fr;
  padding-left: 10px;
}

.sub-properties {
  width: 220px;
  display: grid;
  grid-template-columns: 110px 110px;
}

.properties-img {
  width: 30px;
  height: 30px;
  text-align: left;
}

.properties-img img {
  margin-left: 2px;
}

.btn-fullscreen {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.685);
  background-color: rgba(44, 44, 44, 0.37);
  margin-top: 2px;
  margin-left: 35%;
  position: absolute;
  border-radius: 5px;
  z-index: 5;
}

.btn-fullscreen:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.829);
  background-color: rgba(44, 44, 44, 0.548);
}
