@import "./formWidget.css";

.ad-form {
  display: grid;
  grid-template-columns: 96% 4%;
}

form {
  max-width: 90%;
}

.first-options {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
}

b {
  color: #b50009;
  font-size: 15px;
  position: relative;
  line-height: 13px;
  font-weight: 400;
}

.required-field {
  color: red;
}

.input-option {
  margin-top: 5px;
}

.number-input {
  padding: 0 8px 0 8px;
  width: 150px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid rgb(129, 129, 129);
}

textarea {
  border: solid 1px black;
  border-radius: 5px;
}

.input-option {
  margin-top: 10px;
}
input {
  border: 1px solid rgb(129, 129, 129);
  border-radius: 3px;
  width: 150px;
  height: 30px;
}

input:disabled {
  background-color: #ebebeb;
  opacity: 0.7;
}

input:disabled:hover {
  cursor: not-allowed;
}

input[type="checkbox"] {
  width: 12px;
  height: 10px;
}

.ad-submit {
  transition: 0.3s;
  font-size: 15px;
  border-radius: 4px;
  color: #ffffff;
  height: 30px;
  width: 100px;
  background-color: #2676b0;
  margin-left: 30px;
  margin-top: 30px;
}

.ad-submit:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: #194f82;
}

.ad-submit[disabled] {
  background-color: #47a1e0;
  opacity: 0.7;
  background-color: red;
}

.ad-submit[disabled]:hover {
  cursor: default;
}

.browse-images-btn {
  transition: 0.3s;
  padding: 3px 3px 3px 7px;
  background-color: rgb(80, 80, 80);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 4px;
  font-size: 15px;
}

.browse-images-btn:hover {
  transition: 0.3s;
  background-color: black;
}

.chosen-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  padding-top: 10px;
}

.chosen-images div img {
  width: 150px;
  height: 120px;
}

.image-block {
  width: 150px;
  height: 135px;
}

.image-block:hover > .for-preview-img {
  display: block;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.delete-image {
  margin-top: 3px;
  margin-left: 127px;
  position: absolute;
  background-color: rgba(7, 7, 7, 0.555);
  padding: 4px 0px 0px 1px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: rgba(255, 0, 0, 0.658);
  /* border: solid 1px rgb(0, 0, 0); */
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 10px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.delete-image:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(255, 0, 0);
}

.for-preview-img {
  display: none;
  font-size: 13px;
  /* margin-top: 3px; */
  margin-left: 33px;
  position: absolute;
  background-color: rgba(7, 7, 7, 0.555);
  padding: 3px 0px 0px 1px;
  width: 80px;
  height: 25px;
  color: rgba(255, 255, 255, 0.658);
  /* border: solid 1px rgb(0, 0, 0); */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
}

.for-preview-img:hover {
  cursor: pointer;
  background-color: rgba(7, 7, 7, 0.836);
  color: rgba(255, 255, 255, 0.863);
}

.for-preview-img.active {
  display: block;
  background-color: #0065a0;
  color: #ffffff;
  transition: 0.2s;
}

.for-preview-img.active:hover {
  transition: 0.2s;
  background-color: #0066ff;
}

.currency {
  margin-top: 10px;
}

.negotiable-price {
  margin-top: 5px;
}

.negotiable-price input {
  margin-right: 5px;
}

.block-item {
}

.block-title:before,
.block-title:after {
  content: "";
  width: 10px;
  height: 1.5px;
  background-color: black;
  position: absolute;
  top: 8px;
  transition: 100ms;
}

.block-title:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 8px 6px -6px rgba(2, 82, 255, 0.616); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 8px 6px -6px rgba(2, 82, 255, 0.616); /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 5px 6px -6px rgba(2, 69, 255, 0.616); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.block-title {
  width: 90%;
  text-transform: uppercase;
  position: relative;
  padding: 0px 0px 0px 15px;
  margin-top: 10px;
  border-bottom: 2px solid transparent;
  transition: 0.1s;
}

.block-title:before {
  top: 6px;
  transform: rotate(30deg);
  left: 0px;
  background-color: #194f82;
}

.block-title:after {
  top: 11px;
  transform: rotate(-30deg);
  left: 0px;
  background-color: #194f82;
}

.block-title.block-active {
  transition: 0.3s;
  padding-left: 25px;
}

.block-title.block-active:before {
  top: 9px;
  left: 4.5px;
  transform: rotate(120deg);
}

.block-title.block-active:after {
  top: 9px;
  transform: rotate(60deg);
}
.block-container {
  display: none;
}

.second-options {
  margin-bottom: 100px;
}

.engine-options,
.security-options,
.comfort-options {
  padding-left: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
}

.security-options .input-option,
.comfort-options .input-option {
  font-size: 14px;
}

@media (max-width: 500px) {
  textarea {
    width: 100%;
  }

  .ad-form {
    width: 100%;
    font-size: 14px;
  }

  form {
    margin: 0 auto;
    padding-left: 10%;
  }

  .block-title {
    font-size: 12px;
  }

  .block-title:before,
  .block-title:after {
    content: "";
    width: 10px;
    height: 1.5px;
    background-color: black;
    position: absolute;
    top: 8px;
    transition: 100ms;
  }

  .block-title:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 8px 6px -6px rgba(2, 82, 255, 0.616); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 8px 6px -6px rgba(2, 82, 255, 0.616); /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 5px 6px -6px rgba(2, 69, 255, 0.616); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }

  .block-title {
    text-transform: uppercase;
    position: relative;
    padding: 0px 0px 0px 15px;
    margin-top: 10px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
  }

  .block-title:before {
    top: 4px;
    transform: rotate(30deg);
    left: 0px;
    background-color: #194f82;
  }

  .block-title:after {
    top: 9px;
    transform: rotate(-30deg);
    left: 0px;
    background-color: #194f82;
  }

  .block-title.block-active {
    transition: 0.3s;
    padding-left: 20px;
  }

  .block-title.block-active:before {
    top: 7px;
    left: 5px;
    transform: rotate(120deg);
  }

  .block-title.block-active:after {
    top: 7px;
    transform: rotate(60deg);
  }
}
