.filter-btn {
  display: none;
}

.filter-btn span {
  font-size: 13px;
  display: none;
}

.bttm-filter-btn {
  display: none;
}

.ads-container {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-areas: "ads filters";
  padding-bottom: 20px;
  min-height: 350px;
}

.ads-content {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 10px 10px 5px 10px;
  text-align: center;
  grid-area: ads;
}

.ads-content.refreshing {
  /* background-color: #ffffffce; */
  opacity: 0.6;
}

.ads {
  display: inline-block;
  margin-top: 5px;
  margin-left: 6px;
  margin-right: 6px;

  width: 233px;
  height: 210px;
  text-align: center;
  /* background-color: lightgreen; */
  font-size: 14px;
}

.ad-image {
  width: 233px;
  height: 160px;
}

.ad-image img {
  transition: 0.1s;
  width: 99%;
  height: 99%;
  object-fit: cover;
}
.ad-image:hover img {
  height: 98%;
  width: 98%;
  box-shadow: 0px 0px 15px rgb(180, 180, 180);
}

.ads a {
  text-decoration: none;
  color: rgb(0, 41, 177);
}

.ads a:hover {
  color: rgb(8, 0, 90);
}

.ads img {
  border-radius: 4px;
}

.ad-model {
  margin: auto;
}

.ad-price {
  display: block;
  justify-self: center;
}

.ad-btn {
  transition: 0.3s;
  font-size: 90%;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2676b0;

  text-decoration: none;
  padding: 6px 5px 6px 5px;
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 55%;
}

.ad-btn:hover {
  transition: 120ms;
  cursor: pointer;
  background-color: #194f82;
}

.statistics {
  float: right;
  margin-right: 5px;
  padding: 0px 10px 0px -5px;
}

.statistics div span {
  float: right;
}

.ads-content-header {
  padding-top: 5px;

  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto 1fr;
}
