.result {
  animation: fadein 0.3s;
  -moz-animation: fadein 0.3s; /* Firefox */
  -webkit-animation: fadein 0.3s; /* Safari and Chrome */
  -o-animation: fadein 0.3s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-window {
  background-color: #333333a2;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.result {
  margin: 0 auto;
  margin-top: 100px;
  font-size: 24px;
  border-radius: 10px;
  width: 300px;
  height: 210px;
  z-index: 1;
  text-align: center;
}

.result.error {
  background-color: rgb(250, 241, 241);
  border: 2px solid rgb(182, 109, 109);
}

.result.success {
  background-color: rgb(241, 250, 242);
  border: 2px solid rgb(147, 197, 159);
}

.result button {
  font-size: 16px;
  border-radius: 5px;
  color: white;
  margin-top: 35px;
  padding: 5px 15px 5px 15px;
}

.result button.success {
  background-color: rgb(14, 163, 0);
}

.result button.error {
  background-color: rgb(255, 0, 0);
}

.result button.error:hover {
  cursor: pointer;
  background-color: rgb(170, 0, 0);
}

.result button.success:hover {
  cursor: pointer;
  background-color: rgb(15, 128, 0);
}

.result-img img {
  width: 50px;
}

.result .result-img {
  padding: 20px 0px 0px 40px;
  text-align: left;
}

@media (max-width: 600px) {
  .result {
    font-size: 20px;
    height: 190px;
  }

  .result-img img {
    width: 40px;
  }
}
