@import "ads.css";
@import "ad.css";
@import "pagination.css";
@import "userProfile.css";
@import "statistics.css";
@import "headerStyle.css";
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  padding-left: 3px;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html {
  overflow-y: scroll;
}
html,
body {
  height: 100%;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  /* background-color: rgb(250, 250, 250); */
}

/* body.lock img {
  display: none;
} */

.loading {
  margin-top: 100px;
}

.filters {
  /* box-shadow: -10px 30px 15px -4px rgba(0, 0, 0, 0.2); */
  background-color: white;
  padding-left: 15px;
  border: 1px solid #ebebeb;
}

.filters form {
  display: block;
}
/* 
.header-link {
  display: block;
} */
/* 
.dropdown-container {
  text-align: left;
  position: absolute;
  background-color: #ebebeb;
  visibility: hidden;
  opacity: 0;
  margin-top: -2px;
  padding-top: 20px;
  width: 130px;
  height: 140px;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  z-index: 0;
}

.dropdown-container ul li {
  padding-top: 10px;
}

.dropdown-container ul li .header-link-smaller {
  font-size: 100%;
}

hr {
  border-top: 1.2pt solid rgb(0, 64, 253);
  margin-top: 10px;
  -webkit-transition: width 0.5s ease-out; /* For Safari 3.1 to 6.0 */
/* transition: width 0.5s ease-out;
  width: 0%;
} */

.container {
  max-width: 75%;
  margin: 0px auto;
  padding: 0px 0px;
}

header {
  z-index: 1;
  position: fixed;
}

/* .header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
} */

/* .header-body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  transition: 0.2s;
}

.header-body-smaller {
  transition: 0.2s;
  height: 40px;
}

.header-logo {
  transition: 0.2s;
  flex: 0 0 90px;
  z-index: 3;
}

.header-logo img:hover {
  cursor: pointer;
}

.header-logo-smaller {
  transition: 0.2s;
  flex: 0 0 60px;
}

.image-container img {
  max-width: 100%;
}

.header-logo img {
  max-width: 100%;
}

.header-burger {
  display: none;
} */

/* .header-list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header-list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header-link {
  transition: 0.2s;
  color: #2676b0;
  font-size: 16px;
  text-decoration: none;
}

.header-link-smaller {
  transition: 0.2s;
  font-size: 90%;
}

.header-link:hover {
  cursor: pointer;
  color: #194f82;
  transition: 0.1s;
} */

/* .switch-lang {
  display: flex;
} */

.show {
  background-color: rgb(245, 245, 245);
}

.loader.active {
  display: block;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
  text-align: center;
  padding-top: 250px;
  background-color: #f8f8f8c5;
  /* background-color: #194f82; */
}

.loader.second {
  padding-top: 150px;
  position: relative;
  background-color: transparent;
}

.loader {
  display: none;
}

@media (max-width: 767px) {
  hr {
    display: none;
  }
  .container {
    padding: 0px 15px;
  }

  body.lock {
    overflow: hidden;
  }

  html.lock {
    overflow: hidden;
  }

  .dropdown-container ul li {
    padding-top: 0px;
  }

  .dropdown-container {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    padding-left: 10px;
    width: 100%;
    background-color: rgb(245, 245, 245);
  }

  .abc {
    background-color: rgb(245, 245, 245);
  }

  .header-body {
    height: 50px;
  }
  .header-logo {
    flex: 0 0 75px;
    z-index: 3;
  }
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header-burger span {
    position: absolute;
    background-color: #2676b0;
    left: 0px;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: 0.3s;
  }

  .header-burger::before,
  .header-burger:after {
    content: "";
    background-color: #2676b0;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: 0.3s;
  }
  .header-burger:before {
    top: 0;
  }
  .header-burger:after {
    bottom: 0;
  }

  .header-burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header-burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header-burger.active span {
    transform: scale(0);
  }

  .header-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(245, 245, 245);
    padding: 60px 10px 20px 10px;
    transition: 0.3s;
  }
  .header-menu.active {
    top: 0;
  }

  .header-list {
    display: block;
  }
  .header-list li {
    margin: 0px 0px 20px 0px;
  }
  .header-link {
    font-size: 16px;
  }
}

.content {
  /* background: url(/background2.png) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  align-items: center;
  padding-top: 80px;
}

.content-text {
  font-size: 16px;
  line-height: 20px;
}

.content-text p {
  margin: 0px 0px 20px 0px;
}

.image-slider {
  width: 100%;
  height: 190px;
}

.image-slider div {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.image-slider div div {
  height: 100%;
  width: 25%;
  border-radius: 8px;
}

.image-slider div ul {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.image-slider div ul li {
  border-radius: 8px;
}

@media (max-width: 380px) {
  .container {
    max-width: 100%;
  }

  .properties {
    font-size: 14px;
  }

  .ad-images {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .content {
    padding: 68px 0px 0px 0px;
  }
}

@media screen and (max-width: 1040px) {
  .ads-content-header {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto 1fr;
  }
}
@media screen and (max-width: 1380px) {
  .ads {
    width: 200px;
    height: 168px;
  }

  .ad-image {
    width: 100%;
    height: 135px;
  }

  .ads {
    margin-left: 2px;
  }

  .ad-image:hover img {
    height: 96%;
    width: 96%;
  }

  .ads img {
    height: 98%;
    width: 98%;
  }

  .delete-ad-btn {
    font-size: 13px;
    padding: 2px 5px 2px 5px;
    margin-left: 135px;
  }

  .unlike-ad-btn {
    font-size: 13px;
    margin-left: 125px;
    padding: 2px 5px 2px 5px;
  }
}
@media (max-width: 920px) {
  .filter-btn {
    color: #2676b0;
    display: inline;
    clear: both;
    float: right;
    margin-right: 5px;
  }

  .bttm-filter-btn {
    color: #2676b0;
    display: inline;
  }
  .bttm-filter-btn:hover,
  .filter-btn:hover {
    cursor: pointer;
    color: #194f82;
  }

  .filters .filter-btn {
    margin-right: 30px;
    margin-top: 2px;
  }

  .filters {
    display: none;
  }

  .filters.active .bttm-filter-btn {
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .filters.active {
    position: absolute;
    margin-left: 60%;
    display: block;

    -webkit-box-shadow: -12px 0px 7px -9px rgb(185, 185, 185);
    -moz-box-shadow: -12px 0px 7px -9px rgb(185, 185, 185);
    box-shadow: -12px 0px 7px -9px rgb(185, 185, 185);
  }

  .ads-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "ads";
  }

  .ads {
    width: 200px;
    height: 168px;
  }

  .ad-image {
    width: 100%;
    height: 135px;
  }

  .ads {
    margin-left: 2px;
  }

  .ad-image:hover img {
    height: 96%;
    width: 96%;
  }

  .ads img {
    height: 98%;
    width: 98%;
  }

  .container {
    max-width: 90%;
  }
}

@media (max-width: 835px) {
  .filters.active {
    margin-left: 57%;
  }
  .delete-ad-btn {
    font-size: 13px;
    padding: 2px 5px 2px 5px;
    margin-left: 135px;
    display: block;
  }

  .unlike-ad-btn {
    font-size: 13px;
    margin-left: 125px;
    padding: 2px 5px 2px 5px;
    display: block;
  }
}

@media (max-width: 800px) {
  .filters.active {
    margin-left: 55%;
  }
  .container {
    max-width: 90%;
  }
  .delete-ad-btn {
    display: block;
  }

  .unlike-ad-btn {
    display: block;
  }
}

@media screen and (max-width: 720px) {
  .filters.active {
    margin-left: 48%;
  }
}

@media screen and (max-width: 650px) {
  .filters.active {
    margin-left: 45%;
  }

  .ads-content-header {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto 1fr;
  }
}

@media screen and (max-width: 580px) {
  .filters.active {
    margin-left: 40%;
  }
}

@media screen and (max-width: 535px) {
  .filters.active {
    margin-left: 33%;
  }

  .image-slider div {
    /* padding: 20px 20px 20px 20px; */
    margin: 0 auto;
    height: 85%;
    width: 85%;
    border-radius: 10px;
  }

  .image-slider div div {
    height: 97%;
    width: 25%;
    border-radius: 8px;
  }

  .image-slider div ul {
    height: 97%;
    width: 100%;
    border-radius: 8px;
  }

  .image-slider {
    display: block;
    height: 300px;
    width: 100%;
  }

  .ad-images {
    display: none;
  }

  .ads-content-header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 1fr;
  }
}

@media screen and (max-width: 480px) {
  .filters.active {
    margin-left: 35%;
  }

  .container {
    max-width: 100%;
  }

  .properties div {
    max-width: 285px;
  }

  .ad-content span {
    font-size: 14px;
  }

  .property-name {
    font-size: 17px;
  }

  .property-name span {
    font-size: 18px;
  }

  .properties {
    font-size: 14px;
  }

  .image-slider {
    height: 330px;
    width: 100%;
  }
}

@media screen and (max-width: 455px) {
  .filters.active {
    margin-left: 32%;
  }

  .image-slider {
    height: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 435px) {
  .filters.active {
    margin-left: 28%;
  }

  .pagination li {
    padding: 3px 8px;
  }

  .image-slider {
    height: 280px;
    width: 100%;
  }
  .ads-content-header {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto 1fr;
  }
}
@media screen and (max-width: 400px) {
  .filters.active {
    margin-left: 23%;
  }
}
@media screen and (max-width: 372px) {
  .filters.active {
    margin-left: 17%;
  }

  .image-slider {
    display: block;
    height: 260px;
    width: 100%;
  }

  .ads-content-header {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto 1fr;
  }

  .ad-btn {
    font-size: 13.5px;
    width: 90px;
  }
}

@media screen and (max-width: 370px) {
  .filters.active {
    margin-left: 16%;
  }

  .ads-content-header {
    grid-template-columns: 36% 64%;
  }
}

@media screen and (max-width: 350px) {
  .filters.active {
    margin-left: 11%;
  }
}

@media screen and (max-width: 335px) {
  .filters.active {
    margin-left: 7%;
  }
  .ad-btn,
  .statistics div span {
    font-size: 12px;
  }

  .statistics {
    margin-left: 5px;
    margin-top: 5px;
  }

  .image-slider {
    display: block;
    height: 220px;
    width: 100%;
  }
}
