.color-div {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid #ebebeb;
  display: inline-block;
}

.color-filter input {
  margin-left: 5px;
}

.color-filter {
  display: flex;
  align-items: center;
}

.filter-container-name {
  font-size: 120%;
  font-weight: 700;
  margin-left: 95px;
  padding: 5px 0px 5px 0px;
}

.filters {
  grid-area: filters;
  width: 271px;
  border-radius: 10px;
  /* background-color: rgb(250, 250, 250); */
}

.filters .filter {
  width: 240px;
  overflow: hidden;
  border: 1px solid #ebebeb;
  margin-top: 2px;
  margin-bottom: 10px;
}

.filter-option {
  padding-top: 5px;
  margin-bottom: 5px;
}

.price-block-title,
.capacity-block-title,
.horsePower-block-title,
.year-block-title,
.mileage-block-title {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  padding-top: 5px;
}

.decimal-from-option,
.decimal-to-option {
  display: inline-block;
  border: 1px solid #bebebe;
  border-radius: 3px;
  width: 100px;
  height: 20px;
  padding: 0 8px 0 8px;
  margin: 3px 0px 3px 12.5px;
  height: 25px;
}

.decimal-from-option:focus,
.decimal-to-option:focus {
  border: 1px solid #000000;
}

.price-option-currency {
  width: 60px;
  height: 25px;
  font-size: 88%;
  padding-left: 4px;
  margin: 5px 0px 2px 13px;
}

.negotiable-option {
  margin-left: 13px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.negotiable-option input {
  margin-left: 5px;
}

.filter-option-name {
  padding-left: 5px;
}

.fuels-block-title:before,
.bodyStyles-block-title:before,
.brands-block-title:before,
.models-block-title:before,
.tractions-block-title:before,
.transmissions-block-title:before,
.interiorColors-block-title:before,
.exteriorColors-block-title:before,
.doorsNumbers-block-title:before,
.steerWheelSides-block-title:before,
.comforts-block-title:before,
.states-block-title:before,
.securities-block-title:before,
.dealTypes-block-title:before,
.countries-block-title:before,
.regions-block-title:before,
.bodyStyles-block-title:after,
.fuels-block-title:after,
.brands-block-title:after,
.models-block-title:after,
.tractions-block-title:after,
.transmissions-block-title:after,
.interiorColors-block-title:after,
.exteriorColors-block-title:after,
.doorsNumbers-block-title:after,
.steerWheelSides-block-title:after,
.securities-block-title:after,
.comforts-block-title:after,
.states-block-title:after,
.dealTypes-block-title:after,
.countries-block-title:after,
.regions-block-title:after {
  content: "";
  width: 7px;
  height: 1.5px;
  position: absolute;
  top: 8px;
  left: 2px;
  transition: 100ms;
  background-color: #2676b0;
}

.fuels-block-title:hover,
.bodyStyles-block-title:hover,
.brands-block-title:hover,
.models-block-title:hover,
.tractions-block-title:hover,
.transmissions-block-title:hover,
.interiorColors-block-title:hover,
.exteriorColors-block-title:hover,
.doorsNumbers-block-title:hover,
.steerWheelSides-block-title:hover,
.comforts-block-title:hover,
.securities-block-title:hover,
.states-block-title:hover,
.dealTypes-block-title:hover,
.countries-block-title:hover,
.regions-block-title:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: #fafafb;
}

.fuels-block-title,
.bodyStyles-block-title,
.brands-block-title,
.models-block-title,
.tractions-block-title,
.transmissions-block-title,
.interiorColors-block-title,
.exteriorColors-block-title,
.doorsNumbers-block-title,
.steerWheelSides-block-title,
.comforts-block-title,
.securities-block-title,
.states-block-title,
.dealTypes-block-title,
.countries-block-title,
.regions-block-title {
  transition: 0.3s;
  height: 30px;
  width: 240px;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  padding: 6px 0px 0px 35px;
}

.fuels-block-active,
.bodyStyles-block-active,
.brands-block-active,
.models-block-active,
.tractions-block-active,
.transmissions-block-active,
.interiorColors-block-active,
.exteriorColors-block-active,
.doorsNumbers-block-active,
.steerWheelSides-block-active,
.comforts-block-active,
.securities-block-active,
.states-block-active,
.dealTypes-block-active,
.countries-block-active,
.regions-block-active {
  transition: 0.3s;
  /* padding-left: 60px; */
}

.fuels-block-title:before,
.bodyStyles-block-title:before,
.brands-block-title:before,
.models-block-title:before,
.tractions-block-title:before,
.transmissions-block-title:before,
.interiorColors-block-title:before,
.exteriorColors-block-title:before,
.doorsNumbers-block-title:before,
.steerWheelSides-block-title:before,
.comforts-block-title:before,
.securities-block-title:before,
.states-block-title:before,
.dealTypes-block-title:before,
.countries-block-title:before,
.regions-block-title:before {
  top: 15px;
  transform: rotate(45deg);
  left: 16px;
}

.fuels-block-title:after,
.bodyStyles-block-title:after,
.brands-block-title:after,
.models-block-title:after,
.tractions-block-title:after,
.transmissions-block-title:after,
.interiorColors-block-title:after,
.exteriorColors-block-title:after,
.doorsNumbers-block-title:after,
.steerWheelSides-block-title:after,
.comforts-block-title:after,
.securities-block-title:after,
.states-block-title:after,
.dealTypes-block-title:after,
.countries-block-title:after,
.regions-block-title:after {
  top: 15px;
  transform: rotate(-45deg);
  left: 11px;
}

.fuels-block-title.fuels-block-active:before,
.bodyStyles-block-title.bodyStyles-block-active:before,
.brands-block-title.brands-block-active:before,
.models-block-title.models-block-active:before,
.tractions-block-title.tractions-block-active:before,
.transmissions-block-title.transmissions-block-active:before,
.interiorColors-block-title.interiorColors-block-active:before,
.exteriorColors-block-title.exteriorColors-block-active:before,
.doorsNumbers-block-title.doorsNumbers-block-active:before,
.steerWheelSides-block-title.steerWheelSides-block-active:before,
.comforts-block-title.comforts-block-active:before,
.securities-block-title.securities-block-active:before,
.states-block-title.states-block-active:before,
.dealTypes-block-title.dealTypes-block-active:before,
.countries-block-title.countries-block-active:before,
.regions-block-title.regions-block-active:before {
  top: 15px;
  left: 16px;
  transform: rotate(-45deg);
}

.fuels-block-title.fuels-block-active:after,
.bodyStyles-block-title.bodyStyles-block-active:after,
.brands-block-title.brands-block-active:after,
.models-block-title.models-block-active:after,
.tractions-block-title.tractions-block-active:after,
.transmissions-block-title.transmissions-block-active:after,
.interiorColors-block-title.interiorColors-block-active:after,
.exteriorColors-block-title.exteriorColors-block-active:after,
.doorsNumbers-block-title.doorsNumbers-block-active:after,
.steerWheelSides-block-title.steerWheelSides-block-active:after,
.comforts-block-title.comforts-block-active:after,
.securities-block-title.securities-block-active:after,
.states-block-title.states-block-active:after,
.dealTypes-block-title.dealTypes-block-active:after,
.countries-block-title.countries-block-active:after,
.regions-block-title.regions-block-active:after {
  top: 15px;
  transform: rotate(45deg);
  left: 12px;
}
.filter .block-container {
  display: none;
  padding-left: 10px;
  width: 250px;
}

.block-container.models-block-container,
.block-container.regions-block-container {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 235px;
}

.models-block-title input,
.regions-block-title input {
  margin-right: 4px;
}

.models-block-container .filter {
  border: none;
}

.brands-block-container,
.countries-block-container {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}
