.form-widget {
  width: 140px;
  right: 12%;
  position: fixed;
}

.form-widget div {
  width: 140px;
  position: relative;
  display: inline-block;
  padding: 5px 0 5px 35px;
  background-image: url("/circle.png"), url("/line.png"), url("/line.png");
  background-repeat: no-repeat;
  background-position: left 9px top 50%, left 6px top 150%, left 7px top 0%;
  background-size: 0.65em auto, 30%, 10%;
}

.form-widget div:first-child {
  background-image: url("/circle.png"), url("/line.png");
  background-position: left 9px top 50%, left 7px top -45%;
  background-size: 0.65em auto, 10%;
}

.form-widget div:last-child {
  background-image: url("/circle.png"), url("/line.png");
  background-position: left 9px top 50%, left 7px top 150%;
  background-size: 0.65em auto, 10%;
}

.form-widget div.active {
  background-image: url("/circle-active.png"), url("/line.png"),
    url("/line.png");
  background-position: left 5px top 50%, left 7px top -20%, left 7px top 0%;
  background-size: 1.2em auto, 10%, 10%;
}

.form-widget div:first-child.active {
  background-image: url("/circle-active.png"), url("/line.png");
  background-position: left 5px top 50%, left 7px top -45%;
  background-size: 1.2em auto, 10%;
}

.form-widget div:last-child.active {
  background-image: url("/circle-active.png"), url("/line.png"),
    url("/line.png");
  background-position: left 5px top 50%, left 7px top 150%, left 7px top -120%;
  background-size: 1.2em auto, 10%, 10%;
}

@media (max-width: 600px) {
  .ad-form {
    width: 80%;
  }
  .form-widget {
    display: none;
  }
}

@media (max-width: 850px) {
  .form-widget {
    display: none;
  }
}
