header {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 13%;
  background-color: #eeeeee;

  width: 100%;
  -webkit-box-shadow: 0 8px 6px -6px rgba(80, 80, 80, 0.616); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 8px 6px -6px rgba(80, 80, 80, 0.616); /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 6px 6px -6px rgba(80, 80, 80, 0.616); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

header .logo {
  color: #fff;
  height: 50px;
  padding-top: 5px;
  width: 70px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}

a:hover {
  cursor: pointer;
  border-radius: 2px;
}

header nav {
  float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  list-style: none;
  position: relative;
}

header nav ul li ul {
  z-index: 10;
  position: absolute;
  background-color: #eeeeee;
  left: 0;
  display: none;
}

header nav ul li.sub-menu:hover > ul {
  display: block;
}

header nav ul li ul li {
  display: block;
  width: 200px;
}

header nav ul li a {
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #2676b0;
}
header nav ul li a.active,
header nav ul li a:hover {
  color: #fff;
  background-color: #194f82;
  display: block;
}

.sub-menu:hover {
  cursor: pointer;
}

/* .sub-menu:hover ~ ul {
  display: block;
} */

.sub-menu ul li .sub-menu-border {
  margin: 0 auto;
  width: 92%;
  height: 1px;
  background-color: #194f82;
  border-radius: 35%;
}

.sub-menu.language ul li .sub-menu-border {
  height: 1pt;
}

.sub-menu ul {
  box-shadow: 0px 6px 6px -4px rgba(66, 66, 66, 0.616);
}

.sub-menu.active ul li a:hover ~ div {
  /* background-color: transparent; */
}

.sub-menu.active {
}

.language.sub-menu ul li {
  width: 150px;
}

.language.sub-menu ul li a {
  height: 25px;
  line-height: 25px;
}

.language.sub-menu ul li a img {
  padding-right: 1px;
  margin-right: 5px;
  margin-left: 10px;
}

.language.sub-menu ul li a:hover {
  background-image: linear-gradient(to right, #dadada, #ebebee);
  color: #194f82;
}

/* .sub-menu ul li:nth-child(2) {
  border-top: 1px solid rgb(2, 82, 255);
  border-bottom: 1px solid rgb(2, 82, 255);
} */

header nav ul li a {
  display: block;
}

.menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.menu-toggle div {
  transition: 0.3s;
}

.active .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  transition: 0.3s;
}

.active .line2 {
  transition: 0s;
  opacity: 0;
}

.active .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  transition: 0.3s;
}

@media (max-width: 800px) {
  header {
    padding: 0 40px;
  }

  .menu-toggle {
    padding-top: 10px;
    display: block;
  }

  .menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: #2676b0;
    margin: 5px;
  }

  header nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 100%);
    background-color: #ebebeb;
    top: 100%;
    left: 0;
    transition: 0.5s;
  }

  header nav.active {
    left: -100%;
  }

  header nav ul {
    display: block;
    text-align: center;
  }

  header nav ul li {
    transition: 1s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .sub-menu ul li .sub-menu-border {
    display: none;
  }

  header nav ul li.active ul {
    position: relative;
  }

  header nav ul li ul li {
    margin: 0 auto;
    width: 100%;
    background-color: #d3d3d3;
  }

  .sub-menu.language ul li {
    width: 100%;
  }

  .language.sub-menu ul li a:hover {
    background-image: none;
    background-color: transparent;
    color: #194f82;
  }

  .language.sub-menu ul li a {
    padding-right: 30px;
  }

  header nav ul li ul {
    width: 100%;
    background-color: #cecece;
  }
  .header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #ebebeb;
    -webkit-box-shadow: 0 8px 6px -6px rgb(185, 185, 185); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 8px 6px -6px rgb(185, 185, 185); /*Firefox 3.5 - 3.6 */
    box-shadow: 0 8px 6px -6px rgb(185, 185, 185); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }
}
