.form-container {
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

.form-name {
  padding-top: 20px;
}

.input-name {
  padding-left: 15px;
  padding-top: 2px;
  text-align: left;
}

.user-logo-img {
  width: 70px;
  margin-left: 20px;
}

.form form {
  width: 350px;
  display: grid;
  grid-template-columns: 130px 220px;
  margin: 0 auto;
}

.form div {
  margin-top: 7px;
}
.form form div input {
  height: 25px;
  width: 200px;
  border-radius: 5px;
}

.form div input:hover {
  box-shadow: inset 0 0 0 2px rgb(77, 77, 77);
  border-style: hidden;
}

.form div input:focus {
  -webkit-appearance: none;
  transition: 0.4s;
  border-style: hidden;
  box-shadow: 0 0 0 1px #2676b0;
  -webkit-box-shadow: 0 0 0 1px #2676b0;
  -moz-box-shadow: 0 0 0 1px #2676b0;
}

.form-btn {
  font-size: 90%;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: #2676b0;
  color: white;
}

.form-btn:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: #194f82;
}

.form-btn:disabled,
.form-btn[disabled] {
  opacity: 0.7;
  cursor: default;
  background-color: #2676b0;
}

.link a {
  color: rgb(0, 41, 177);
  text-decoration: none;
}

.link a:hover {
  transition: 0.1s;
  /* font-size: 103%; */
  color: rgb(3, 3, 97);
}

.link {
  padding-top: 2px;
}

.form-error-text {
  font-size: 15px;
  margin-top: 30px;
  color: rgb(235, 0, 0);
}

.form-error-text {
  display: none;
}

.form-error-text.error-active {
  display: block;
  transition: 1s;
}

.alert-container {
  padding-top: 30px;
  margin-bottom: 30px;

  height: 60px;
  color: red;
}

/*  ANIMATION UNDERLINE*/

.link a {
  position: relative;
}

.link a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0px;
  left: 0px;
  background-color: rgb(3, 3, 97);

  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

.link a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

@media screen and (max-width: 372px) {
  .form form {
    font-size: 14px;
    width: 300px;
    display: grid;
    grid-template-columns: 100px 200px;
    margin: 0 auto;
  }
  .input-name {
    padding-left: 0px;
  }
}
