.pagination {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pagination li {
  display: inline-block;
  list-style: none;
  padding: 7px 15px;

  border-radius: 3px;
  color: black;
  margin-left: 2px;
  background-color: rgb(221, 221, 220);
}

.pagination li a {
  text-decoration: none;
  color: black;
}

.pagination li.active {
  background-color: #194f82;
}

.pagination li.active a {
  color: white;
}

.pagination li.active:hover {
  transition: 0.4s;
  background-color: #2676b0;
}

.pagination li:hover {
  transition: 0.4s;
  cursor: pointer;
  background-color: rgb(197, 197, 197);
}

.prev-next-arrows {
  font-size: 15px;
}
