select {
  text-align: left;
  width: 150px;
  height: 30px;
  display: block;
  font-size: 90%;
  color: rgb(0, 0, 0);
  padding: 0 8px 0 8px;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid rgb(207, 207, 207);
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;

  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  background-color: #fafafb;
  color: rgb(65, 65, 65);
}

select:disabled {
  background-color: #ebebeb;
  opacity: 0.7;
}

select:disabled:hover {
  cursor: not-allowed;
  border: 1px solid rgb(207, 207, 207);
}

select::-ms-expand {
  display: none;
}
select:hover {
  border-color: #888;
  cursor: pointer;
}
select:focus {
  border-color: rgb(185, 185, 185);
  outline: none;
}
select option {
  font-weight: normal;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select option {
  color: rgb(65, 65, 65);
}
