.profile {
  padding-bottom: 30px;
}

ul {
  list-style: none;
  /* color: rgb(0, 0, 196); */
}

.user-info li span:nth-child(2) {
  /* color: rgb(0, 2, 109); */
}

.ads {
  color: black;
}

.user-ad-image {
  height: 85%;
  width: 100%;
}

.ad-image:hover img {
  cursor: pointer;
}

.profile-text {
  margin-left: 20px;
  margin-bottom: 10px;
  transform: skew(-10deg);
  color: rgb(70, 104, 255);
  text-shadow: 1px 1px 1px #5f5f5f;
}

.popup-content {
  width: 30%;
}
.modal {
  font-weight: 400;
  font-size: 16px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.button {
  font-size: 16px;
  color: white;
  background-color: rgb(0, 23, 226);
  border-radius: 4px;
  width: 60px;
  height: 25px;
  margin: 5px 5px 0 5px;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(2, 0, 131);
}

.modal-car-model {
  color: #000277;
}
.modal-car-price {
  color: black;
}
.modal-question {
  color: rgb(216, 0, 0);
  font-weight: 700;
}

.user-ad-action {
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
}

.user-ad-action .action,
.user-liked-action .action {
  box-sizing: border-box;
  margin: 0 1px;
  margin-bottom: 5px;
  font-size: 15px;
}

.user-ad-action .action i {
  margin-right: 5px;
}

.user-ad-action .action:nth-child(1) {
  border: 1px solid #002efa;
  color: #002efa;
  margin-right: 3px;
  border-top-left-radius: 22px;
  border-top-right-radius: 2px;
}

.user-ad-action .action:nth-child(2) {
  border: 1px solid #fa0000;
  color: #fa0000;
  margin-left: 3px;
  border-top-left-radius: 2px;
  border-top-right-radius: 22px;
}

.user-ad-action .action:nth-child(1):hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #002efa;
}

.user-ad-action .action:nth-child(2):hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #fa0000;
}

.user-liked-action .action {
  width: 100%;
  border: 1px solid #064d00;
  color: #064d00;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}

.user-liked-action .action:hover {
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #0c9100;
  background-color: #0c9100;
}
